body {
  background-color: rgb(212, 216, 219);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menutab {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home_main_paragraph {
    width: 500;
}