body {
  background-color: rgb(212, 216, 219);
  margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menutab {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.home_main_paragraph {
    width: 500;
}

.tabbutton {

  border: none;
  background-color: rgb(224, 57, 57);
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  

  cursor: pointer;
}

.tabbutton:hover {
    background-color: rgb(170, 44, 44);
}

.zimbabwebut {
  top: 28.4%;
  left: 70.2%;
  background-color: rgba(255, 255, 255, 0);
  width: 259px;
  height: 267px;
  border: none;
  background-image: url('../../assets/images/zimbabwe.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  
}

.zimbabwebut:hover {
    background-image: url('../../assets/images/zimbabwesel.png');
}

.sabut {
  top: 64.5%;
  left: 35%;
  background-color: rgba(255, 255, 255, 0);
  width: 534px;
  height: 471px;
  border: none;
  background-image: url('../../assets/images/southafrica.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sabut:hover {
    background-image: url('../../assets/images/southafricasel.png');
}

.botswanabut {
  top: 40.5%;
  left: 49%;
  background-color: rgba(255, 255, 255, 0);
  width: 306px;
  height: 322px;
  border: none;
  background-image: url('../../assets/images/botswana.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.botswanabut:hover {
    background-image: url('../../assets/images/botswanasel.png');
}

.namibiabut {
  top: 36.2%;
  left: 16%;
  background-color: rgba(255, 255, 255, 0);
  width: 441px;
  height: 425px;
  border: none;
  background-image: url('../../assets/images/namibia.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.namibiabut:hover {
    background-image: url('../../assets/images/namibiasel.png');
}

.mozambique {
  top: 0%;
  left: 90.2%;
  background-color: rgba(255, 255, 255, 0);
  width: 346px;
  height: 561px;
  border: none;
  background-image: url('../../assets/images/mozambique.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mozambique:hover {
    background-image: url('../../assets/images/mozambiquesel.png');
}


.mappoint {
  position:absolute;
  cursor: pointer;
}

.mapbox {
  margin-top: 50px;
  position: relative;
  left: 22.5%;
  width: 800px;
  height: 600px;
}

.mapinfo {
  width: 20%;
}

.generalbutton {
  border: none;
  background-color: rgb(224, 57, 57);
  color: white;
  text-align: center;
  height: 70px;
  width: 100px;
  margin-left: 10px;
  
  cursor: pointer;
}

.generalbutton:hover {
    background-color: rgb(170, 44, 44);
}

.hidden {
  display: none;
}