/* ---------- Global ---------- */

body {
  margin: 0;
  background-color: rgb(212, 216, 219);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---------- Menu Bar ---------- */

.menutab {
  background-color: black;
  height: 50px;
  width: 100%;
  display: flex;
}

.tabbutton {
  flex: 1;
  border: none;
  background-color: rgb(224, 57, 57);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.tabbutton:hover {
  background-color: rgb(170, 44, 44);
}

/* ---------- Main Content ---------- */

.home_main_paragraph {
  width: 500px;
}

/* ---------- Map Container ---------- */

#mapbox {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #222;
  margin: 20px;
}

/* ---------- Map Buttons  ---------- */

.mappoint {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mappoint img {
  width: 140px;     /* scale here */
  height: auto;     /* preserves TRUE proportions */
  display: block;
}

/* ---------- Zimbabwe ---------- */

.zimbabwebut {
  top: 60%;
  left: 55%;
  background-image: url('../../assets/images/zimbabwe.png');
  width: 120px;
  aspect-ratio: 1 / 1;
}

.zimbabwebut:hover {
  background-image: url('../../assets/images/zimbabwesel.png');
}

/* ---------- South Africa ---------- */

.sabut {
  top: 60%;
  left: 45%;
  background-image: url('../../assets/images/southafrica.png');
  width: 180px;    
  aspect-ratio: 1 / 1;
}

.sabut:hover {
  background-image: url('../../assets/images/southafricasel.png');
}

/* ---------- Utility ---------- */

.hidden {
  display: none;
}
